In [2]:
import json
a="Hello"

print(a)

In [3]:
print(a)

Hello

In [5]:
type(a)

str

In [6]:
str=input("Enter your Name")
print(str)

Enter your Name Huzaifa

Huzaifa

In [9]:
age=int(input("Enter your Age"))
print(age)

Enter your Age 22

22

In [14]:
exp1=eval(input("Enter your Expressions here:"))
print(exp1)

Enter your Expressions here: 2-3

-1

In [15]:
no1=31
no2=3.66
c=no1+no2
print(type(c))

<class 'float'>

In [16]:
#Excercise

In [18]:
#Write a program to display persons name ,age and address in three different lines 
name="Huzaifa"
age=23
addr="Karachi"
print('''''',name,'''
''',age,'''
''',addr)

 Huzaifa
 23
 Karachi

In [22]:
print("",name,"\n",age,"\n",addr)

 Huzaifa
 23
 Karachi

In [26]:
#Write a program to swap two variables 
val1=3
val2=5
print("Before Swapping \n",val1,"\n",val2)
temp=val1
val1=val2
val2=temp
print("After Swapping \n",val1,"\n",val2)

Before Swapping
 3
 5
After Swapping
 5
 3

In [27]:
#Write a program to convert float into integer
x=12.4
print(type(x))
x=int(x)
print(type(x))

<class 'float'>
<class 'int'>

In [29]:
#Write a program to take details from student for ID card and print it in dfferent lines 
name=input("Enter your Name")
grade=input("Enrer your grade")
age=int(input("Enter your age"))
print("STUDENT IDENTITY CARD")
print("\nName:",name,"\n Grade",grade,"\n Age:",age)

Enter your Name Huzaifa
Enrer your grade X-A
Enter your age 23

STUDENT IDENTITY CARD
Name: Huzaifa
 Grade X-A
 Age: 23

In [30]:
#Write a program to take input as integer and then convert it into flaot
no=int(input("Enter any number"))
print(no,"\t",type(no))
no=float(no)
print(no,"\t",type(no))

Enter any number 6

6 	 <class 'int'>
6.0 	 <class 'float'>

In [1]:
#Arithmetic Operators 
#(+,-,*,/,//,%,**))
# // floor divison
# % modulus
# ** exponential
print(5+6) # Addition
print(15-6) # Subtraction
print(15*6) #Multiplication
print(15/6) #Division
print(15//6) #floor division
print(5%3) #modulus  
print(2**4) # exponational

11
9
90
2.5
2
2
16

In [2]:
# Exercise 1  
# Create a calculator capable of performing addition, subtraction, multiplication and division operations on two numbers. Your

no1=int(input("Enter the first number:"))
no2=int(input("Enter the second number:"))
print("Addition of",no1,"and",no2,"is",no1+no2)  
print("Subtraction of",no1,"and",no2,"is",no1-no2)
print("Multiplication of",no1,"and",no2,"is",no1*no2)  
print("Division of",no1,"and",no2,"is",no1/no2)

Enter the first number: 6
Enter the second number: 7

Addition of 6 and 7 is 13
Subtraction of 6 and 7 is -1
Multiplication of 6 and 7 is 42
Division of 6 and 7 is 0.8571428571428571

In [3]:
no1=5
no2=8
#Comparison Operators
# (>,<,>=,<=,==,!=)  

print(no1>no2)
print(no1<no2) 
print(no1>=no2)
print(no1<=no2)
print(no1==no2)
print(no1!=no2)

False
True
False
True
False
True

In [4]:
#Logical Operators
# (and,or,not)
print(no1>no2 and no1==no2)
print(no1>no2 or no1==no2)
print(not no1>no2)

False
False
True

In [9]:
#Assignment Operators 
#Assignmet operators are used to assign value to python variables
#(=,+=,-=,*=)
score=0
print(score)
score+=1   #score=score + 1
print(score)
score-=1   #score=score - 1
print(score)
score+=2
score*=3
print(score)

0
1
0
6

In [13]:
#identity operators
#identity operators are used to comapare that if two variables are of same type 
#(is,isnot)
val1=1234
val2="1234"
print(val1 is val2) #compare if both belongs to same type i.e belongs to string 
val2=int(val2)
print(val1 is val2) 
print(val1 is not val2)

False
False
True

In [4]:
#Bitwise Operators 
#These are used to compare binary numbers
#(AND &,OR |,XOR,<<,>>)
#<< Zero fill left shift
#>> Zero fill right shift 
# (&,|,~,^,>>)
#These operator are used to compare the binary value of the operands.
print(bin(10)) #binary 
print(bin(15))
print(10&8) # AND operation
print(10|8) # OR operation
# #xor
# #similiar no =0
# #different no =1
print(10^8) #XOR Operation
# #zero fill left shift
print(10>>2) #removes the last two bits and add zero in the beginning
# #zero fill right shift
print(10<<1) #add zero in the last

0b1010
0b1111
8
10
2
2
20

In [5]:
#Membership operators
#(in,not in)
str="Hello"
print("p" in str)
print("o" in str)
print("p" not in str)

False
True
True

In [6]:
#Conditonal Operators
#(if,else,elif)
#Conditonal Statement allows computer to execute a certain condition only if it is true.
# if(condition):
a=5
if a>3:
    print("i am inside if condition")

i am inside if condition

In [8]:
if a<3:
    print("i am inside if condition")
print("i am outside if condition")

i am outside if condition

In [9]:
#if-else condition
#these are used when we are confirmed that either one out of two condition will be true 
ball1="red"
if ball1=="red":
    print("you pick up red ball")
else:
    print("you picked up green ball")

you pick up red ball

In [15]:
marks=85
if marks>=90:
    print("Marks are greater than 90")
else:
    print("marks are less then 90")

marks are less then 90

In [16]:
#if-elif-else condition
#these are used when we have multiiple condition 
if marks>=90:
    print("A+ GRADE")
elif marks>=80 and marks<90:
    print("A GRADE")
elif marks>=70 and marks<80:
    print("B GRADE")
elif marks>=60 and marks<70:
    print("C GRADE")
else:
    print("FAIL")

A GRADE

In [17]:
#Nested if statement
if marks>=80:
    print("You will get a new phone")
    if marks>95:
        print("you will get a trip too")
else:
    print("Better Luck next time")

You will get a new phone

In [18]:
if marks>=90:
    print("You will get a new phone")
    print("you will get a trip too")
elif marks>80 and marks<90:
        print("you will get a new phone")
else:
    print("Better Luck next time")

you will get a new phone

In [19]:
#Short hand if=else statement
print("You will get a new phone") if marks>=90 else print("TRY AGAIN")

TRY AGAIN

In [20]:
#Exercise

In [24]:
#Write a program to check if the number is positive or not
no=int(input("Enter any Numeber"))
print("POSITIVE") if no>0 else print("NEGATIVE")

Enter any Numeber 7

POSITIVE

In [25]:
#Write a program to check if the number is odd or even
print("EVEN") if no%2==0 else print("ODD")

ODD

In [37]:
#Write a program to create area calculator
print("*****AREA CALCULATOR*****")
print("""PRESS 1 FOR AREA OF SQUARE
PRESS 2 FOR AREA OF RECTRANGLE
PRESS 3 FOR AREA OF CIRCLE
PRESS 4 FOR AREA OF TRIANGLE""")
inp=int(input("Enter any No b/w 1-4"))
if inp == 1:
    sides=float(input("Enter Length of one side"))
    area=sides**2
    print("Area of Square:",area)
elif inp == 2:
    len=float(input("Enter Length"))
    wid=float(input("Enter Width"))
    area=len*wid
    print("Area of Rectangle:",area)
elif inp == 3:
    sides=float(input("Enter Value of Radius of Circle"))
    area=3.142*(sides**2)
    print("Area of Circle",area)
elif inp == 4:
    bas=float(input("Enter Base of Triangle "))
    hei=float(input("Enter Height of Triangle"))
    area=0.5*bas*hei
    print("Area of Triangle:",area)
else:
    print("INVALID INPUT")

*****AREA CALCULATOR*****
PRESS 1 FOR AREA OF SQUARE
PRESS 2 FOR AREA OF RECTRANGLE
PRESS 3 FOR AREA OF CIRCLE
PRESS 4 FOR AREA OF TRIANGLE

Enter any No b/w 1-4 3
Enter Value of Radius of Circle 4

Area of Circle 50.272

In [40]:
#Write a Program to Check if the passed letter is vowel or not
chr=input("Enter any Letter")
print("YOU ENTERED VOWEL") if chr in "aeiou" or chr in "AEIOU" else print("NOT A VOWEL")

Enter any Letter R

NOT A VOWEL

In [1]:
#Write a Program to check if the no is 2 digit no upto five digit
no=int(input("Enter any Number"))
if no>=0 and no<=9:
    print("SINGLE DIGIT NUMBER")
elif no>=10 and no<=99:
    print("DOUBLE DIGIT NUMBER")
elif no>=100 and no<=999:
    print("TRIPLE DIGIT NUMBER")
elif no>=1000 and no<=9999:
    print("FOUR DIGIT NUMBER") 
elif no>=10000 and no<=99999:
    print("FIVE DIGIT NUMBER")
else:
    print("INVALID INPUT")

Enter any Number 5

SINGLE DIGIT NUMBER

In [2]:
#loops
#(for,while)
#loops means repitition of a task.
#for loop
#for loop is used to iterate over a sequence of items.
for i in range(1,6):
  print(i)

1
2
3
4
5

In [3]:
for i in range(1,6):
  print("Hello from Loop")

Hello from Loop
Hello from Loop
Hello from Loop
Hello from Loop
Hello from Loop

In [4]:
for i in range(0,6,2): #2 is step
  print(i)

0
2
4

In [6]:
n=4
for i in range(1,11):
  print(n,"X",i,"=",n*i)

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [7]:
#while loop
#while loop executes till the given condition is true
#In while loop the increment os done inside the loop
n=0
while n<=5:
  print(n)
  n+=1

0
1
2
3
4
5

In [8]:
n=0
while n<=10:
  print(n)
  n+=2

0
2
4
6
8
10

In [9]:
#Table of 7
n=1
a=7
while n<=10:
  print(a,"X",n,"=",n*a)
  n+=1

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [12]:
#while true
#it is an infinite loop break statement is used to stop this loop
#it is often used while taking inputs from user 
while True:
    no1=int(input("Enter a Number"))
    no2=int(input("Enter another Number"))
    print(no1+no2)
    opt=input("Do you want to stop?")
    if opt=="yes":
        break

Enter a Number 5
Enter another Number 3

8

Do you want to stop? k
Enter a Number 2
Enter another Number 5

7

Do you want to stop? yes

In [15]:
#Nested loops
#loops inside loops are called nested loop
#nested loops are used to solve pattern problems
for i in range(1,4):
    print("PUSH UP SET NO",i)
    for j in range(1,11):
        print("PUSH UP NO",j)

PUSH UP SET NO 1
PUSH UP NO 1
PUSH UP NO 2
PUSH UP NO 3
PUSH UP NO 4
PUSH UP NO 5
PUSH UP NO 6
PUSH UP NO 7
PUSH UP NO 8
PUSH UP NO 9
PUSH UP NO 10
PUSH UP SET NO 2
PUSH UP NO 1
PUSH UP NO 2
PUSH UP NO 3
PUSH UP NO 4
PUSH UP NO 5
PUSH UP NO 6
PUSH UP NO 7
PUSH UP NO 8
PUSH UP NO 9
PUSH UP NO 10
PUSH UP SET NO 3
PUSH UP NO 1
PUSH UP NO 2
PUSH UP NO 3
PUSH UP NO 4
PUSH UP NO 5
PUSH UP NO 6
PUSH UP NO 7
PUSH UP NO 8
PUSH UP NO 9
PUSH UP NO 10

In [16]:
for i in range(1,4):
    for j in range(1,11):
        print(j,end="") 
    print()

12345678910
12345678910
12345678910

In [24]:
#Outer loop count rows
#Inner loop count columns
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

In [35]:
#for loops with condtional statement
for i in range(1,11):
    if i==3:
        print("ADD THIS SONG TO THE FAVOURITE")
    else:
        print(i)

1
2
ADD THIS SONG TO THE FAVOURITE
4
5
6
7
8
9
10

In [36]:
for i in range(1,101):
    if i%8==0 and i%12==0:
        print(i)

24
48
72
96

In [37]:
#BREAK & CONTINUE STATEMENT
#CONTINUE STATEMENT IS USED TO SKIP A PARTICULAR CONDITION
for i in range(1,11):
    if i==5:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9
10

In [38]:
for i in range(1,11):
    if i==7:
        break
    else:
        print(i)

1
2
3
4
5
6

In [41]:
#EXCERCISE
#Write a program to find the sum of all even no upto 50
sum=0
for i in range(0,51,2):
    sum=sum+i
print(sum)

650

In [42]:
#Write a program to find the sum of all even no upto 50
sum=0
for i in range(1,51):
    if i%2==0:
        sum=sum+i
print(sum)

650

In [47]:
#Write a program to write first 20 numbers and their squared numbers
print("NUMBERS \t SQURRED")
for i in range(1,21):
    print(i,"\t \t",i**2)

NUMBERS 	 SQURRED
1 	 	 1
2 	 	 4
3 	 	 9
4 	 	 16
5 	 	 25
6 	 	 36
7 	 	 49
8 	 	 64
9 	 	 81
10 	 	 100
11 	 	 121
12 	 	 144
13 	 	 169
14 	 	 196
15 	 	 225
16 	 	 256
17 	 	 289
18 	 	 324
19 	 	 361
20 	 	 400

In [49]:
#Write a Program to find sum of first 10 odd numbers 
sum=0
i=1
while i<=20:
    sum+=i
    i+=2
print(sum)

100

In [56]:
sum=0
i=0
while i<=20:
    if i%2!=0:
        sum+=i
    i+=1
print(sum)

100

In [57]:
#Write a Program to Check if the number is divisible by 8 and 12 upto 100 numbers
for i in range(1,101):
    if i%8==0 and i%12==0:
        print(i)

24
48
72
96

In [61]:
#Write a Program to Create a Billing System at Super Market
print("****ABC SUPER MARKET****")
while True:
    name=input("Enter Customer Name")
    total=0
    while True:
        amount=float(input("Enter Amount"))
        quantity=float(input("Enter Quantity"))
        total+=amount*quantity
        repeat=input("Do you want to Continue? Y/N")
        if repeat=="N" or repeat=="n":
            break
    print("-"*40)
    print("Name:",name)
    print("Total Amount:",total)
    print("-"*40)
    print("********HAPPY SHOPPING**************")
    repeat1=input("Do you want to move to next customer Y/N")
    if repeat1=="n" or repeat1=="N":
        break

****ABC SUPER MARKET****

Enter Customer Name Alina
Enter Amount 333
Enter Quantity 2
Do you want to Continue? Y/N y
Enter Amount 200
Enter Quantity 4
Do you want to Continue? Y/N n

----------------------------------------
Name: Alina
Total Amount: 1466.0
----------------------------------------
********HAPPY SHOPPING**************

Do you want to move to next customer Y/N n

In [1]:
#A="WHY FIT IN,WHEN YOU ARE BORN TO STAND OUT"
#WRITE A PROGRAM TO FIND THE LENGTH OF THE STRING
a="WHY FIT IN,WHEN YOU ARE BORN TO STAND OUT"
sum=0
for i in a:
  sum+=1
print(sum)

41

In [2]:
print(len(a))

41

In [3]:
#write a Program to print how many times alphabet o is occuring 
print(a.count('O'))

4

In [4]:
#Write a Program to Convert whole string into uppercase and lower case
u=a.lower()
print("String to Lowercase\n",u)
l=a.upper()
print("String to Uppercase\n",l)

String to Lowercase
 why fit in,when you are born to stand out
String to Uppercase
 WHY FIT IN,WHEN YOU ARE BORN TO STAND OUT

In [5]:
#Write a program to convert following satrings into title case
print(a.title())

Why Fit In,When You Are Born To Stand Out

In [6]:
#Write a program to find the index of "fit in"
print(a.find("FIT IN"))

4

In [7]:
#PATTERN PROBLEM
# 1 
# 1 2 
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5
for i in range(1,6): #Rows
  for j in range(1,i+1): #Columns
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [8]:
# * 
# * * 
# * * * 
# * * * * 
# * * * * * 
for i in range(1,6): #Rows
  for j in range(1,i+1): #Columns
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [9]:
for i in range(1,6): #Rows
  for j in range(1,i+1): #Columns
    print(i,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [10]:
for i in range(1,6): #Rows
  for j in range(6,i,-1): #Columns
    print(i,end=" ")
  print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [11]:
for i in range(1,6): #Rows
  for j in range(6,i,-1): #Columns
    print("*",end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [14]:
for i in range(1,6):
  for j in range(45,i,-1):
    print(" ",end=" ")
  for k in range(i):
    print("*",end=" ")
  print()

                                                                                        *
                                                                                      * *
                                                                                    * * *
                                                                                  * * * *
                                                                                * * * * *

In [15]:
for i in range(1,6):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [16]:
for i in range(1,6): #Rows
  for j in range(1,i+1): #Columns
    print("*",end=" ")
  print()
for k in range(1,6): #Rows
  for l in range(5,k,-1): #Columns
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [17]:
for i in range(1,11):
  for j in range(1,i+1):
    print(i*j,end=" ")
  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

In [18]:
#STRING MANIPULATION
#Strings are combination of numbers,alphabats,symbols enclosed inside quotations
a="hello"
#length 
print(len(a))
#len function also counts number of spaces in the strings

5

In [19]:
#.count()
print(a.count("o"))
#.count() function helps us find no of specific alphabet or word inside string

1

In [22]:
b="This is another string .this string is only for example"
print(b.count("string"))

2

In [23]:
#.upper()
#This methodd help us converting the string to the uppercase
print(a.upper())

HELLO

In [24]:
#.lower()
#This method converts the string into lowercase
print(a.lower())

hello

In [25]:
#capatilize()
#This method converts the first letter of string to uppercase
print(a.capitalize())

Hello

In [26]:
#to Find Index of any character
print(a.index("o"))

4

In [29]:
str="in molecular biology, STRING is a biological database and web resource of known and predicted protein–protein interactions"
print(len(str))
print(str.index("p",20,122))

122
84

In [30]:
print(str.capitalize())

In molecular biology, string is a biological database and web resource of known and predicted protein–protein interactions

In [31]:
#casefold() convert all the capital letters to small
print(str.casefold())

in molecular biology, string is a biological database and web resource of known and predicted protein–protein interactions

In [32]:
#find() same as index method
print(str.find("s"))

30

In [33]:
print(str.find("s",31,122))

51

In [38]:
#format method joinv two strings 
fruits="Apple ,Mango ,and {},{}"
f_name="banana"
f_name1=",dates"
print(fruits.format(f_name,f_name1))

Apple ,Mango ,and banana,,dates

In [41]:
#center()
name="Huzaifa"
name.center(11,"*")

'**Huzaifa**'

In [47]:
#some more String Mehtods
a="hello"
b="Hello123"
c="123456"
d="HELLO"
e=" "
f="Hello 123"
g="1.234"
j="Hello I Am Not Going"

In [14]:
#isalnum() :returns true if all string is alphanumeric characters
print(a.isalnum())
print(b.isalnum())
print(c.isalnum())
print(d.isalnum())
print(e.isalnum()) #returns false because space does not includes in Alphanumeric
print(f.isalnum()) #returns false because string also contain space which is not a alphanumetric
print(g.isalnum()) #returns false because special charaters does not includes in Alphanumeric and here decimal point is present which is special characyer

True
True
True
True
False
False
False

In [28]:
#isalpha() returns true if all the string characters are alphabets
print(a.isalpha())
print(b.isalpha()) #returns falso because string also contain numbers which are not in a alphabats catagory
print(c.isalpha()) #returns false because string contain only numbers
print(d.isalpha()) #even if alphabats are in uppercase it will return true
print(e.isalpha()) #returns false becuase spaces are not included in alphabats catagory 
print(f.isalpha())
print(g.isalpha())

True
False
False
True
False
False
False

In [27]:
#isdecmal() #returns true if all characters in a string are in a decimal 
print(a.isdecimal())
print(c.isdecimal()) #returns true because numbers also fall in the decimal catagory
print(g.isdecimal()) #returns false because it is considering decimal point as a string

False
True
False

In [29]:
#isdigit() returns true if all the characters of string are digits
#according to our example if will returns true for variable ' c ' becuase it only contain digits
print(c.isdigit())

True

In [31]:
#isnumeric same as isdigit returns true if all the characters of string are numeric
print(c.isnumeric())
print(g.isdigit())

True
False

In [36]:
#islower() #checks if all the characters are in lowercase
print(a.islower())
print(b.islower())

True
False

In [35]:
b

'Hello123'

In [38]:
h="hello123"
print(h.islower()) #returns true becuase it only counts alphabats

True

In [41]:
#isupper() #checks if all the characters are in uppercase
d.isupper()

True

In [42]:
#isspace() #retruns true if all the characters are spaces
e.isspace()

True

In [43]:
f

'Hello 123'

In [44]:
f.isspace()

False

In [45]:
#isttile()
a.istitle()

False

In [48]:
j.istitle()

True

In [4]:
#endswith()
a="Harry Potter"
print(a.endswith("r"))
print(a.endswith("t",6,9)) #here we checking on specific range that if the it is ending on 't' on our specified range

True
True

In [8]:
#startswith()
print(a.startswith("H"))
print(a.startswith("P",6,9)) #same as previous method that we are testing on specified range

True
True

In [9]:
#swapcase() #convert lower case to upper and vice versa
print(a.swapcase())

hARRY pOTTER

In [29]:
#strip() #returns trimmed veriosn 
b="     ******Harry Potter ........"
print(a.strip("H"))
print(b.strip("* ."))

arry Potter
Harry Potter

In [32]:
#spilit() seprates string with some separator
hash="#Pakistan#T20WC"
print(hash.split("#"))

['', 'Pakistan', 'T20WC']

In [33]:
#ljust left alignment
m="Harry Potter"
n=m.ljust(20)
print(n,"is the best movie i have ever watched")

Harry Potter         is the best movie i have ever watched

In [34]:
m="Harry Potter"
n=m.ljust(20,"*")
print(n,"is the best movie i have ever watched")

Harry Potter******** is the best movie i have ever watched

In [35]:
#rjust right alignment
m="Harry Potter"
n=m.rjust(20,"*")
print(n,"is the best movie i have ever watched")

********Harry Potter is the best movie i have ever watched

In [36]:
m="Harry Potter"
n=m.ljust(20)
print(n,"is the best movie i have ever watched")

Harry Potter         is the best movie i have ever watched

In [2]:
#replace()
a="My name is John"
print("Before replace \n",a)
print("After replace \n",a.replace("John","Lisa"))

Before replace
 My name is John
After replace
 My name is Lisa

In [39]:
#rindex() specify the last index 
a="Harry Potter and the Prisnor of Zenda"
print(a.rindex("a"))
print(a[a.rindex("a")])

36
a

In [1]:
#rfind same as rindex
#we can also give them ranges to search b/w them
a="Harry Potter and the Prisnor of Zenda"
print(a.rfind("a"))
print(a[a.rfind("a")])

36
a

In [6]:
#Slicing of Strings
a="Harry Potter and the Goblet of fire"
print(a[0:5])
print(a[6:12])
print(a[:5])

Harry
Potter
Harry

In [8]:
b="12345678"
print(b[::2]) #here '2' defines steps

1357

In [10]:
#reverse
print(b[::-1])
print(b[6::-1])

87654321
7654321

In [11]:
#Exercise

In [29]:
#Write a Program to get fabonacci series upto 10
a=0
b=1
print(a)
print(b)
for i in range(2,11):
    c=a+b
    #c=0+1=1
    #c=1+1=2
    #c=1+2=3
    a=b  
    #a=1
    #a=1
    #a=2
    b=c
    #b=1
    #b=2
    #b=3
    print(c)
    #0 1 1 2 3

0
1
1
2
3
5
8
13
21
34
55

In [3]:
a=0
b=1
n=int(input("Enter Range"))
print(a)
print(b)
if n==1:
    print(1)
else:
    for i in range(2,n):
         c=a+b
        #c=0+1=1
        #c=1+1=2
        #c=1+2=3
         a=b  
    #a=1
    #a=1
    #a=2
         b=c
    #b=1
    #b=2
    #b=3
         print(c)
    #0 1 1 2 3

Enter Range 15

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [31]:
#Write a Program to check if the number is prime or not
n=int(input("Enter any Number"))
if n<=1:
    print("It is not a Prime Number")
else:
    for i in range(2,n):
        if n%i==0:
            print("NOT A PRIME NUMBER")
            break
        else:
            print("PRIME NUMBER")
            break

Enter any Number 5

PRIME NUMBER

In [36]:
#palindrome
no=input("Enter any Number")
temp=no[::-1]
if no==temp:
    print("IS PALINDROME")
else:
    print("NOT PALINDROME")

Enter any Number 504

NOT PALINDROME

In [8]:
num=int(input("Enter any Number"))
temp=num
rev=0
while num>0:
    dig=num%10
    print(dig)
    rev=num*10+dig
    print(rev)
    num=num//10
if num==temp:
    print("PALINDROME")
else:
    print("NOT A PALINDROME")

Enter any Number 567

7
5677
6
566
5
55
NOT A PALINDROME

In [10]:
#Write a program to create area calculator
print("*****AREA CALCULATOR*****")
while True:
    print("""PRESS 1 FOR AREA OF SQUARE
    PRESS 2 FOR AREA OF RECTRANGLE
    PRESS 3 FOR AREA OF CIRCLE
    PRESS 4 FOR AREA OF TRIANGLE""")
    inp=int(input("Enter any No b/w 1-4"))
    if inp == 1:
        while True: 
            sides=float(input("Enter Length of one side"))
            area=sides**2
            print("Area of Square:",area)
            repeat=input("Do you want to Try agian?")
            if repeat=="no" or repeat=="No" or repeat=="NO":
                break
    elif inp == 2:
        while True:
            len=float(input("Enter Length"))
            wid=float(input("Enter Width"))
            area=len*wid
            print("Area of Rectangle:",area)
            repeat=input("Do You want to Try Again?")
            if repeat=="no" or repeat=="No" or repeat=="NO":
                break
        
    elif inp == 3:
        while True:
            sides=float(input("Enter Value of Radius of Circle"))
            area=3.142*(sides**2)
            print("Area of Circle",area)
            repeat=input("Do You wanrt to Try Agaim?")
            if repeat=="no" or repeat=="No" or repeat=="NO":
                break
    elif inp == 4:
        while True:
            bas=float(input("Enter Base of Triangle "))
            hei=float(input("Enter Height of Triangle"))
            area=0.5*bas*hei
            print("Area of Triangle:",area)
            repeat=input("Do You wanrt to Try Agaim?")
            if repeat=="no" or repeat=="No" or repeat=="NO":
                break
    else:
        print("INVALID INPUT")
    repeat1=input("Do you want to Continue")
    if repeat1=="N":
        break

*****AREA CALCULATOR*****
PRESS 1 FOR AREA OF SQUARE
    PRESS 2 FOR AREA OF RECTRANGLE
    PRESS 3 FOR AREA OF CIRCLE
    PRESS 4 FOR AREA OF TRIANGLE

Enter any No b/w 1-4 1
Enter Length of one side 4

Area of Square: 16.0

Do you want to Try agian? n
Enter Length of one side 5

Area of Square: 25.0

Do you want to Try agian? no
Do you want to Continue n

PRESS 1 FOR AREA OF SQUARE
    PRESS 2 FOR AREA OF RECTRANGLE
    PRESS 3 FOR AREA OF CIRCLE
    PRESS 4 FOR AREA OF TRIANGLE

Enter any No b/w 1-4 5

INVALID INPUT

Do you want to Continue N

In [11]:
A="OOTD.YOLO.ASAP.BRB.GTG.OTW"
#Write a Program to separate the following string into comma separated value
print(A.split("."))

['OOTD', 'YOLO', 'ASAP', 'BRB', 'GTG', 'OTW']

In [16]:
#Write a Program to sort strings alphabatically
a=input("Enter any thing")
print(sorted(a))

Enter any thing j;kuiu

[';', 'i', 'j', 'k', 'u', 'u']

In [17]:
#Write a Program a given from a string
a="Hello"
b=a.replace("l","")
print(b)

Heo

In [18]:
z="F.R.I.E.N.D.S."
b=z.replace(".","")
print(b)

FRIENDS

In [21]:
#Write a program to check the no of occurance of string in string
print(z.count("."))

7

In [22]:
#Take input from User and Reverse it
inp=input("Enter any thing")
print("You Entered:",inp)
print("Reversed String",inp[::-1])

Enter any thing Hello

You Entered: Hello
Reversed String olleH

In [24]:
#Write a Program to check if string contain only digits
inp=input("Enter any thing")
print(inp.isdigit())

Enter any thing 12345

True

In [26]:
#Write a Program to Check if the string is palindrome
inp=input("Enter any thing")
print("PALINDROME") if inp==inp[::-1] else print("NOT A PALINDROME")

Enter any thing ACB

NOT A PALINDROME

In [27]:
#Write a Program to count no of Vowel in Strings
inp=input("Enter any thing")
sum=0
for i in inp:
    if i=="a" or i=="e" or i=="i" or i=="o" or i=="u":
        sum+=1
print("No of Vowels",sum)

Enter any thing hello

No of Vowels 2

In [30]:
#Write a program to check if first letter of every word starts with capital letter
inp=input("Enter any thing")
if inp.istitle():
    print("CAPITAL")
else:
    print("NOT CAPITAL")

Enter any thing hhdk[dk

NOT CAPITAL

In [1]:
#Lists
#List are the collection of ordered and mutable data 
#ordered means follows indexing
#mutable means once list is created it can be updated

In [4]:
fruits=["Mango","Apple","Banana"]
mix=["String",1,34,True,12.0]
#Multiple datatypes can be written inside a list

In [5]:
print(mix)
print(fruits)

['String', 1, 34, True, 12.0]
['Mango', 'Apple', 'Banana']

In [8]:
#List Slicing
lis1=["Iron Man","Spider man","Super man","Hulk"]
#index  0             1          2          3
#      -4            -3         -2          -1
print(lis1[2])
print(lis1[-4])

Super man
Iron Man

In [3]:
letter=["A","B","C","D","E","F","G","H"]
print(letter[1:6])
print(letter[2:-4])
print(letter[::-1])
print(letter[::2])

['B', 'C', 'D', 'E', 'F']
['C', 'D']
['H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']
['A', 'C', 'E', 'G']

In [2]:
#list iteration
#using for loop
for i in letter:
    print(i)

A
B
C
D
E
F
G
H

In [3]:
#using range
for i in range(len(letter)):
    print(letter[i])

A
B
C
D
E
F
G
H

In [4]:
i=0
while i<(len(letter)):
    print(letter[i])
    i+=1

A
B
C
D
E
F
G
H

In [5]:
[print(i) for i in letter] #short hand for loop

A
B
C
D
E
F
G
H

[None, None, None, None, None, None, None, None]

In [1]:
#List Functions

In [4]:
#to find length of List
print(len(letter))

8

In [5]:
#to find the Occurance of Particular element
print(letter.count("C"))

1

In [7]:
#to Add element in the list
letter.append("J") #Add Element in the last
print(letter)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'J', 'J']

In [9]:
#to Insert Element in any place in the list
letter.insert(2,"K")
print(letter)

['A', 'B', 'K', 'K', 'C', 'D', 'E', 'F', 'G', 'H', 'J', 'J']

In [10]:
#to remove item
letter.remove("K")
print(letter)

['A', 'B', 'K', 'C', 'D', 'E', 'F', 'G', 'H', 'J', 'J']

In [11]:
#to remove element by using index no
letter.pop(1)
print(letter)

['A', 'K', 'C', 'D', 'E', 'F', 'G', 'H', 'J', 'J']

In [14]:
#to Create the copy of the list
l2=letter.copy()
print(l2)

['A', 'K', 'C', 'D', 'E', 'F', 'G', 'H', 'J', 'J']

In [15]:
#to access an element
print(letter.index("J"))

8

In [16]:
c=["L","M","N"]
letter.extend(c)
print(letter)

['A', 'K', 'C', 'D', 'E', 'F', 'G', 'H', 'J', 'J', 'L', 'M', 'N']

In [19]:
letter.reverse()
print(letter)

['N', 'M', 'L', 'J', 'J', 'H', 'G', 'F', 'E', 'D', 'C', 'K', 'A']

In [20]:
#to Sort the list
letter.sort()
print(letter)

['A', 'C', 'D', 'E', 'F', 'G', 'H', 'J', 'J', 'K', 'L', 'M', 'N']

In [21]:
letter.clear()
print(letter)

[]

In [22]:
#List Comprehension

In [24]:
l1=[90,67,44,67,33,55,43,12]
l2=[]
for i in l1:
    l2.append(i)
print(l2)

[90, 67, 44, 67, 33, 55, 43, 12]

In [25]:
for i in l1:
    if i>45:
        l2.append(i)
print(l2)

[90, 67, 44, 67, 33, 55, 43, 12, 90, 67, 67, 55]

In [26]:
l3=[i for i in l1]

In [27]:
l3

[90, 67, 44, 67, 33, 55, 43, 12]

In [28]:
l3=[i for i in l1 if i>45]

In [29]:
l3

[90, 67, 67, 55]

In [30]:
#Excercise

In [31]:
a=["Ross","Rachal","Monica","Joe"]
#Write a Program to Swap 1st and 4th Element
a[0],a[3]=a[3],a[0]
print(a)

['Joe', 'Rachal', 'Monica', 'Ross']

In [32]:
#Write a Program add new value at second position
a.insert(2,"Alina")
print(a)

['Joe', 'Rachal', 'Alina', 'Monica', 'Ross']

In [33]:
#Write a Program to Delete Value from 3rd Position
a.pop(3)
print(a)

['Joe', 'Rachal', 'Alina', 'Ross']

In [35]:
#Write a Program to Multiply all the members of the list
b=[13,7,10,12]
mul=1
for i in b:
    mul*=i
    #13*1=13
    #13*7
print(mul)

10920

In [37]:
#Write a Program to find the largest number of the list
b.sort()
print(b[-1])

13

In [38]:
#Write a Program to find smallest value from the list
print(b[0])

7

In [40]:
#Tuples
#Tuples are the collection of ordered and un-mutable data
# unmutable means data cannot be changed

In [45]:
fruits=("apple","mango","banana",1,6,True)
type(fruits)

tuple

In [43]:
#Single value tuple
f="Kiwi",
type(f)

tuple

In [50]:
#SLICING AND ITERATION IN TUPLE
print(fruits[0:2])
print(fruits[:3])
print(fruits[::2])
print(fruits[2::-1])

('apple', 'mango')
('apple', 'mango', 'banana')
('apple', 'banana', 6)
('banana', 'mango', 'apple')

In [51]:
#With For loop
for i in fruits:
    print(i)

apple
mango
banana
1
6
True

In [52]:
for i in range(len(fruits)):
    print(fruits[i])

apple
mango
banana
1
6
True

In [53]:
#With while Loop
i=0
while i<len(fruits):
    print(fruits[i])
    i+=1

apple
mango
banana
1
6
True

In [56]:
a=(1,2,3,4,5,6,)
print("Before Converiosn:",type(a))
a=list(a)
print("After Converiosn:",type(a))
a.append(78)
a=tuple(a)
print("After Converiosn Again:",type(a))
print(a)

Before Converiosn: <class 'tuple'>
After Converiosn: <class 'list'>
After Converiosn Again: <class 'tuple'>
(1, 2, 3, 4, 5, 6, 78)

In [57]:
#Tuple Functions
print(a.count(2))

1

In [58]:
print(a.index(78))

6

In [1]:
#Problem Solving

In [4]:
#Convert the follwing dictionary to the JSON format
student_data={"name":"John","age":13,"marks":97}
data=json.dumps(student_data)
print(data)
type(data)

{"name": "John", "age": 13, "marks": 97}

str

In [8]:
#Access the value of age from the given data
student_data="""{"name":"John","age":13,"marks":97}"""
data=json.loads(student_data)
print(data)
print(data["age"])

{'name': 'John', 'age': 13, 'marks': 97}
13

In [14]:
#pretty print the following JSON data
data=json.dumps(student_data,indent=4,separators=(":","="))
print(data)

"{\"name\":\"John\",\"age\":13,\"marks\":97}"

In [18]:
#Sort the following JSON keys and print them into file
f=open("demo.json","w")
data=json.dumps(student_data,indent=4,sort_keys=True)
f.write(data)
print("Data has been added to the file")

Data has been added to the file

In [22]:
#Access marks from the nested dictionary 
student_data="""{"student":
{"grade":
{"name":"david","marks":87}
}
}"""
data=json.loads(student_data)
print(data["student"]["grade"]["marks"])

87

In [23]:
#Dictionary in Python
#Dictionary allow user to wirte the data in the form of keys and values

In [24]:
emp_data={
    "name":"John",
    "age":24,
    "gender":"M"
}
print(emp_data) #to print

{'name': 'John', 'age': 24, 'gender': 'M'}

In [27]:
print(emp_data["name"])

John

In [28]:
#Iteration in Dictionary

In [29]:
#to access keys
for i in emp_data:
    print(i)

name
age
gender

In [30]:
for i in emp_data: #to access values
    print(emp_data[i])

John
24
M

In [31]:
for i in emp_data.values(): #to access values
    print(i)

John
24
M

In [35]:
for i,j in emp_data.items(): #to access values
    print(i,":",j)

name : John
age : 24
gender : M

In [36]:
#dictionary functions

In [37]:
#get
print(emp_data.get("name"))

John

In [38]:
#items : to get values in form of tuples
print(emp_data.items())

dict_items([('name', 'John'), ('age', 24), ('gender', 'M')])

In [39]:
#keys
print(emp_data.keys())

dict_keys(['name', 'age', 'gender'])

In [40]:
#values
print(emp_data.values())

dict_values(['John', 24, 'M'])

In [41]:
#copy
b=emp_data.copy()
print(b)

{'name': 'John', 'age': 24, 'gender': 'M'}

In [44]:
#setdefault() 
print(emp_data.setdefault("name","David"))

John

In [47]:
#update
print(emp_data.update({"name":"David"}))
print(emp_data)

None
{'name': 'David', 'age': 24, 'gender': 'M'}

In [48]:
#pop
emp_data.pop("age")
print(emp_data)

{'name': 'David', 'gender': 'M'}

In [1]:
#Nested Dictionary

In [2]:
employee={
    1:{"name":"John","age":23,"Gender":"M"},
    2:{"name":"Linta","age":21,"Gender":"F"},
    3:{"name":"Rohan","age":25,"Gender":"M"}
}

In [3]:
print(employee)

{1: {'name': 'John', 'age': 23, 'Gender': 'M'}, 2: {'name': 'Linta', 'age': 21, 'Gender': 'F'}, 3: {'name': 'Rohan', 'age': 25, 'Gender': 'M'}}

In [4]:
#Accessing Particular items

In [6]:
print(employee[2]["name"])

Linta

In [7]:
print(employee[2])

{'name': 'Linta', 'age': 21, 'Gender': 'F'}

In [8]:
employee[2].get("name")

'Linta'

In [9]:
#Problem Solving

In [10]:
#Write a Program to sort dictionary by value

In [18]:
a={"a":1,"b":2,"c":3,"d":4,"e":5}
print(a.values())

dict_values([1, 2, 3, 4, 5])

In [12]:
print(sorted(a.values()))

[2, 5, 10, 12, 15]

In [13]:
#Write a Python script to create a dictionary where keys are numbers and values are square of it 
d={}
for i in range(1,16):
    d.update({i:i**2})
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [19]:
#Write a Program to multipily all the items in a dictionary
print(a.values())
prod=1
for i in a.values():
    prod*=i
print(prod)

dict_values([1, 2, 3, 4, 5])
120

In [20]:
#Write a Program to sort dictionary by keys

In [21]:
#Sets
#Sets are unordered collection of data every element in a set are unique and mutable

In [23]:
s1={3,6,4,7,9}
print(s1)

{3, 4, 6, 7, 9}

In [25]:
s3={"A","b","c","h","A"}
print(s3)

{'b', 'h', 'A', 'c'}

In [26]:
#iteration
for i in s3:
    print(i)

b
h
A
c

In [32]:
#sets functions
 #add
s3.add("z")
s3

{'c', 'h', 'z'}

In [33]:
#pop
s3.pop()

'c'

In [35]:
#remove
s3.remove("h")
s3

{'z'}

In [36]:
#discard same as remove
#copy
b=s3.copy()
b

{'z'}

In [17]:
a={"Ironman","Hulk","Thor","Capt Amrerica"}
b={"Superman","batman","wonder women"}
c={"Hulk","Thor"}

#isdisjoint : checks if the elements of set b (second) is available in set a (first)
print(a.isdisjoint(b))

True

In [3]:
print(a.isdisjoint(c))

False

In [4]:
#subset :checks if any set is part of any other set
print(a.issubset(b))
print(a.issubset(c))
print(c.issubset(a))

False
False
True

In [7]:
#issuperset : if whole set is available in any other set
print(a.issuperset(c))
print(c.issuperset(a))

True
False

In [11]:
#update
print(a.update(b))

None

In [15]:
#union
print(a.union(b))
print(a.difference(c))

{'Hulk', 'Thor', 'Superman', 'wonder women', 'Ironmsn', 'batman', 'Capt Amrerica'}
set()

In [18]:
#difference
d=a.difference(b)
print(d)

{'Hulk', 'Thor', 'Ironman', 'Capt Amrerica'}

In [ ]:
#clear
a.clear()
print(a)